<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/style.css">
        <title>Weather</title>
    </head>
    <body>
        <div class="conatiner">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Temperature of <%= City %> is <%= temp %> degree celcius</h1>
                    <p class="text-center">Weather of <%= City %> is <%= weatherdescription %></p>
                    <p class="text-center">Pressure: <%= pressure %></p>
                    <p class="text-center">Humidity: <%= humidity %></p>
                    <p class="text-center">Wind speed <%= wind %></p>
                </div>
            </div>
        </div>
        
    </body>
</html>